#topCommentContainer {
  margin: 2px;
  position: relative;
  background-color: #07151c;
  color: #d8d8d8;
  font-family: "Montserrat", sans-serif;
  border-radius: 1.5rem;
  border: .25rem solid #80808080;
  user-select: none;
  
  &[data-view="reply"] {
    font-size: 75%;
    width: 90%;
    border-width: 2px;
    border-radius: .625rem;
    
    & #commentBody {
      padding: 0 1.5rem .5rem;
    }
    
    & #author {
      padding: .5rem .5rem .5rem 1.5rem;
      font-size: 75%;
    }
  }
}

#parentComment {
  user-select: none;
  text-decoration: none;
  cursor:auto;
}

#author {
  padding: .75rem 0 0 1.5rem;
  color: #7fa4d8;
  font-weight: 600;
}

#commentBody {
  color: #d8d8d8;
  padding: 1.5rem;
}

#repliesLink {
  margin-left: 1rem;
}